<nav>
  <%= link_to "Add New Movie", new_movie_path %>
</nav>

<% if Movie.any? %>
  <ul>
  <% Movie.all.each do |movie| %>
    <li>
      <header>
        <%= link_to(movie.title, show_movie_path(movie.id)) %> <time><%= movie.release_date.strftime("%e %B %Y") %></time>
      </header>
      <nav>
        <%= link_to("Edit Movie", edit_movie_path(movie.id), class: "edit") %>
      </nav>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>No movies have been added yet.</p>
<% end %>
