@import "clearfix";

ul {
  margin: 0;
  padding: 0;

  li {
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #e7ecee;
    list-style-type: none;
    margin-bottom: 10px;

    header {
      float: left;
      margin: 1em 2em;

      time {
        color: #98a6ad;
        display: block;
        font-size: .8em;
      }
    }

    a.edit {
      background-color: #E4E4E4;
      color: #8E8E8E;
      border: none;
      display: block;
      float: right;
      margin: 0;
      padding: 1.5em 1em;
    }
    a.edit:hover {
      background-color: #3a3f51;
      color: #edf1f2;
    }

    @extend %clearfix;
  }
}

nav {
  @extend %clearfix;

  a {
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #3a3f51;
    color: #edf1f2;
    display: inline-block;
    float: right;
    margin-bottom: .5em;
    padding: .5em;
    right: 0;
    text-decoration: none;
  }
}
